@import url('__item/photo-grid__item.css');

.photo-grid {
    width: 100%;
    margin-top: 102px;
    margin-bottom: 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
