.video__item {
    position: relative;
    width: 49%;
    border-radius: 5px;
    background-image: url('../../../img/video_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    overflow: hidden;
    background-color: #2A2C2F;
}

.video__item:last-child {
    background-image: url('../../../img/video_2.jpg');
    margin-left: 18px;
}

@media screen and (max-width: 1024px) {
    .video__item {
        background-size: 120%;
    }
}

@media screen and (max-width: 625px) {
    .video__item {
        padding-bottom: 50%;
        width: 95%;
        margin-bottom: 10px;
    }

    .video__item:last-child {
        position: relative;
        left: -8px;
    }
}


