@import url('../vendor/normalize.css');
@import url('../blocks/page/page.css');
@import url('../blocks/container/container.css');
@import url('../blocks/header/header.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/place/place.css');
@import url('../blocks/video/video.css');
@import url('../blocks/content-title/content-title.css');
@import url('../blocks/content-subtitle/content-subtitle.css');
@import url('../blocks/section/section.css');
@import url('../blocks/comments/comments.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/footer/footer.css');

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.otf');
    font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.otf');
    font-weight: 900;
	font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.otf');
    font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.otf');
    font-weight: 500;
	font-style: normal;
}


body {
    background: #2A2C2F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;    
}